.blackSquares{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.blackSquare{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
}
.yellowSquare{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 10px;
    border-radius: 10px;
}

#redSquare {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    border-radius: 10px;
    display: none;
}

#greenRectangle {
   left: 100px;
    width: 50px;
    height: 20px;
    background-color: green;
    position: absolute;
    border-radius: 5px;
    display: none;
    margin-top: 10px;
}

.input-container {
    margin-top: 200px;
}

#imageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

#infoBlock{
    right: 0;
    top: 0;
    position: absolute;
}

.editable-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    height: 100px;
    overflow: auto;
    white-space: pre-wrap;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}

.outer-block {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inner-block {
    width: 150px;
    height: 150px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

#overlay.visible {
    visibility: visible;
}

.file-input {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #ccc;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.file-input__input {
    display: none;
}

.file-input__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.file-input__text {
    font-size: 16px;
}

.file-input__browse-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-input__browse-btn:hover {
    background-color: #0056b3;
}
